Flask==1.1.2
Flask-Cors==3.0.9
Flask-Script==2.0.6
pika==0.13.1
google==2.0.2
google-api-core==1.8.1
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud==0.34.0
google-cloud-core==0.29.1
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.8
requests==2.18.4
selenium==3.141.0
six==1.11.0
